{{#examName}}
Exam: {{examName}}
{{/examName}}
{{#protocolName}}
Protocol name: {{protocolName}}
{{/protocolName}}
{{#contrastText}}
Contrast route: {{contrastText}}
{{/contrastText}}
{{#useIVcontrast}}
NPO time: {{NPOtime}}
eGFR ({{eGFRdate}}): {{eGFRvalue}}
Renal premed: {{renalPremed}}
Allergy premed: {{allergyPremed}}
Pregnancy: {{pregnancy}}
{{/useIVcontrast}}
ET tube: {{hasETT}}
C1: {{hasC1}}
Precaution: {{hasPrecaution}}
Special instructions: {{specialInst}}
Ref physician name: {{refPhysicianName}}
Ref physician tel: {{refPhysicianTel}}