name: Deploy to Firebase Hosting
on:
  push:
    branches: [ "main", "dev" ]
    tags:
      - 'v*'
    # Only run when these paths change
    paths:
      - 'lib/**'          # Dart source code
      - 'web/**'          # Web-specific files
      - 'pubspec.yaml'    # Dependencies
      - 'pubspec.lock'    # Dependency lock file
      - 'analysis_options.yaml'  # Dart analysis config
  pull_request:
    branches: [ "main", "dev" ]
    # Only run when these paths change
    paths:
      - 'lib/**'          # Dart source code
      - 'web/**'          # Web-specific files
      - 'pubspec.yaml'    # Dependencies
      - 'pubspec.lock'    # Dependency lock file
      - 'analysis_options.yaml'  # Dart analysis config

permissions:
  contents: write  # This gives permission to create releases


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'  # specify your Flutter version
      
      - name: Install dependencies
        run: flutter pub get
      
      - name: Build web app
        run: flutter build web --release
      
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DESIGNCTER }}'
          projectId: 'designcter'
          channelId: ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || 'live' }}